header{
    background-color: #b1e7d5;
 
    .menu{
        display: flex;
        background-color: #b1e7d5;
        list-style-type: none;
        padding-block: 10px;
        padding-inline: 130px;
        position:sticky;
        top: 0;
        justify-content: left;  
        
        .menu__item{ 
            display: inline-block;
              margin-right: 30px;
              margin-block: 10px;
          
              


        .menu__item {

         a{   
           &:hover{ color: black;
            text-decoration: none;

           }
            }
        }
    }
}
}
   
    
        
   
    